/* Define basic properties of the page */
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: #4a5956;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 20px;
  width: 100%;
  padding: 4px 0 0 0;
  font-size: 12px;
  text-align: center;
  background-color: rgba(17, 1, 0, 0.9);
}

h1 {        /* Title for each content section */
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding: 0 40px 20px;
}

h2 {
  border: 0px solid blue;
  font-size: 20px;
  text-align: center;
  padding: 0 5% 0 5%;
  display: inline-block;
}

p {
  border: 0px solid blue;
  text-align: left;
  padding: 2% 2% 0% 5%;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Flat div to be placed between text sections as a border */

.border {
  border-bottom: 2px solid #fff;
  width: 70%;
  margin: 0 15% 5% 15%;
}

/* Define each of the main sections; top part, main part and each content section */
#top {
  height: 20vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("http://i64.tinypic.com/j7swhf.jpg");
  background-position: 40% 26%;
  box-shadow: 0 2px 5px #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topTitle {
  color: #fff;
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 4px #111;
}

#main {
  width: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

#sectionLeft {
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  background-color: #78928D;
  padding-top: 26vh;
  transition: 3s;
}

#sectionMiddle {
  position: absolute;
  width: 80%;
  top: 0;
  left: 33%;
  background-color: #5b6e6a;
  box-shadow: 2px 2px 5px #111;
  padding-top: 26vh;
  transition: 3s;
}

#sectionRight {
  position: absolute;
  width: 80%;
  top: 0;
  left: 67%;
  background-color: #4a5956;
  box-shadow: 2px 2px 5px #111;
  padding-top: 26vh;
  transition: 3s;
}

#titleLeft, #titleMiddle, #titleRight {
  position: relative;
  top: 0;
  left: 0;
  transition: 3s;
}

/* Define the layout of the left content section (About) */

#about {
  border: 1px solid black;
  margin: 5% 0 10% 0;
}

#about #aboutIntro {
  border: 1px solid yellow;
  margin: 0 0 5% 0;
}

#about #aboutIntro img {
  margin: 0 5% 5% 5%;
  float: left;
  height: 40vh;
  box-shadow: 2px 2px 5px #111;
}

#about #aboutPhotos {
  border: 1px solid orange;
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 0% 5%;
}

#about #aboutPhotos img {
  margin: 0 0% 0% 0%;
  width: 25%;
  box-shadow: 2px 2px 5px #111;
}

#about #linkBar {
  border: 0px solid purple;
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 5% 5%;
}

#about .title {
  border: 0px solid orange;
  width: 80%;
  margin: 0 0 0 15%;
}

#about .profileLink {
  height: 15vh;
  width: 15vh;
  border-radius: 10vh;
}

/* Define look of each link button (6) */
/* As these are links, images are set as backgrounds in order to make entire button clickable */

#fcc {
  background-image: url("images/fcc-logo.png");
  background-size: 95% auto;
  background-position: 60% 50%;
}

#codepen {
  background-image: url("https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png");
  background-color: #fff;
  background-size: 150% auto;
  background-position: 50% 50%;
}

#github {
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
  background-size: 120% auto;
  background-position: 51% 54%;
}

#codewars {
  background-color: #111;
  background-image: url("https://avatars0.githubusercontent.com/u/5387632?v=3&s=280");
  background-size: 125% auto;
  background-position: 50% 50%;
}

#linkedin {
  background-image: url("https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png");
  background-color: #fff;
  background-size: 120% auto;
  background-position: 52% 52%;
}

#twitter {
  background-color: #fff;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png");
  background-size: 80% auto;
  background-position: 52% 52%;
  background-repeat: no-repeat;
}

/* Define the layout of the middle content section (Geography) */

#geography {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0 0 10% 0;
}

#geography .content {    /* Each individual country section */
  border: 1px solid black;
  width: 90%;
  margin: 5% 5% 0 5%;
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  border-bottom: 1px solid #fff;
}

#geography .country {
  border: 1px solid orange;
  width: 30%;
}

#geography .text {
  border: 1px solid purple;
  width: 70%;
  padding: 10px 0 10px 0;
}

/* Define the look of the images within the middle section */

#geography img {    /* each individual image */
  width: 98%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px #111;
  margin: 0 0 10px 0;
}

#uk img, #usa img {
  border-radius: 55% 12% 55% 12%;
  margin: 0 20px 10px 0;
}

#sweden1 img, #sweden2 img {
  border-radius: 12% 55% 12% 55%;
}

/* Define the layout of the right content section (Community) */

#community {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 5% 5% 10% 5%;
}

#community .content {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  padding: 0 0 5% 0;
}

#community .text {
  border: 1px solid yellow;
}

#community .org {
  border: 1px solid orange;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
}

#community img {    /* each individual image */
  width: 20%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #111;
  margin: 0 20px 0 0;
  background-color: #fff;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
  top: 0;
  left: 30%;
}

#community .title {
  position: relative;
  top: 0;
  left: 35%;
  padding: 10px 20px 10px 20px;
}

#community #communityIntro {
  text-align: center;
  padding: 5px 20px 20px 20px;
}
